<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LostExpats.cz</title>

</head>
<style>
    
</style>
<body>
    <h2>Account Activation</h2>
    <p>Thank you for signing up on Lostexpats. We have sent you a link via your email. Please click the link to activate your account.</p>
    <p>Best regards,</p>
    <p>IT Team,</p>
    <p>Lostexpats.cz</p>
</body>
<footer>
    <h3>Contact Us</h3>
    <p>If you have any questions or comments, please <a href="mailto:lostexpatscz@gmail.com">email us</a>.</p>
    <p>&copy; 2023 Lostexpatscz. All rights reserved.</p>
</footer>
</html>
