<!-- This is the page that shows the user that an activation link has been sent to them.  -->


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LostExpats.cz</title>

</head>
<style>
    body{
        font-family: Arial, sans-serif;
         background-color: #000;
         display: flex;
         flex-direction: column;
         min-height: 100vh;
         margin: 0;
    }
    
    p{
        color: #fff;
    }
    h2{
        color: #fff;
        text-align: center;
        text-decoration: inherit;
    }
</style>
<body>
    <h2>WELCOME TO LOSTEXPATSCZ</h2>
    <p>Thank you for signing up on Lostexpats. We have sent you a link via your email. Please click the link to activate your account.</p>
</body>
</html>
