<!-- This is the template for the automatic reset password email which includes a url that the user needs in order to reset their password.  -->

{% load i18n %}

{% autoescape off %}
Password Reset

Hi {{ user.username }},

We received a request to reset your password for your account at Lostexpatscz.

Please click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn't request a password reset, you can safely ignore this email.

Thanks,

IT Team,
Lostexpatscz

---

Contact Us
If you have any questions or comments, please email us at lostexpatscz@gmail.com.
{% endautoescape %}
