<!-- This file contains the code for the page that gives the user the chance to enter their email through which they get a password reset link
 -->

<style>
  body {
    background-color: #000;
    color: #fff;
  }
  .reset-password-container {
    background-color: #000;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #919191;
  }
  
  .reset-password-title {
    color: #b2b1b1;
    text-transform: uppercase;
  }
  
  .reset-password-form {
    margin-bottom: 20px;
  }
  
  .reset-password-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .reset-password-button:hover {
    background-color: #23527c;
  }
  
  
  
    </style>

{% block content %}
  <div class="reset-password-container">
    <h2 class="reset-password-title">Reset Password</h2>
    <form class="reset-password-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="reset-password-button" type="submit">Reset Password</button>
    </form>
  </div>
{% endblock %}
</html>
