<!-- When the user confirms their new password, they get redirected to this page which has a successful message and a link that redirects the user to the login page -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LostExpats.cz</title>

</head>
<style>
    body{
        font-family: Arial, sans-serif;
         background-color: #000;
         display: flex;
         flex-direction: column;
         min-height: 100vh;
         margin: 0;
    }
    
    p{
        color: #fff;
        text-align: center;
    }
    h2{
        color: #fff;
        text-align: center;
        text-decoration: inherit;
    }
</style>
<body>
{% block content %}
  <h2>Password Reset Complete</h2>
  <p>Your password has been successfully reset. You can now <a href="{% url 'render_login' %}">log in</a> with your new password.</p>
{% endblock %}
</body>
</html>
