<!-- This is the page that tells the user an email with a reset password link has been sent to them -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LostExpats.cz</title>

</head>
<style>
/*   Style for the website */
    body{
        font-family: Arial, sans-serif;
         background-color: #000;
         display: flex;
         flex-direction: column;
         min-height: 100vh;
         margin: 0;
    }
    
    p{
        color: #fff;
        text-align: center;
    }
    h2{
        color: #fff;
        text-align: center;
        text-decoration: inherit;
    }
</style>
<body>
<!--   Body of the website, the heading of the page and the message -->
{% block content %}
  <h2>Reset Password Email Sent</h2>
  <p>We've sent you an email with instructions on how to reset your password. Please check your inbox.</p>
{% endblock %}
</body>
</html>
